main {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

#case {width:218px; height: 75px; font-size: 20px; text-align: right; border:1px solid; margin:0px 5px 10px 5px; padding:0px 5px}
#nombre-avant {color:gray;}

input, button {width: 50px; height: 50px; font-size: 40px; margin:5px; background-color: grey; color: white; cursor: pointer;}
.ligne-bouton{display:flex; text-align: center;}

/* Différent bouton */
#bouton-zero {width:110px;}
.bouton-operation{background-color: black;}
.bouton-text{background-color: darkslategray; font-size:20px}
#bouton-egal{background-color: blue;}